{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}: Add a Parcours {% endblock %}

{% block body %}
    <h1 class="text-center"> Add a Parcours </h1>
    <form method="post" class="col-6 offset-3">
        <div class="form-group">
            <label for='name'>Name : </label>
            <input type='text' id='name' name='name' class="form-control" required autofocus/>
            <label for='duration'>Duration :</label>
            <input type='text' id='duration' name='duration' class="form-control" required autofocus/>
            <label for='region'>Region :</label>
            <select id='region' name='region' class="form-control" required>
                {% for r in regions %}
                <option value={{ r.id }}>{{ r.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-success w-25 mt-5">OK</button>
        </div>
    </form>
    
{% endblock %}