{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}: Ajouter un Parcours {% endblock %}

{% block body %}

    <div class="pageTitle">
        <h1 class="text-center"> Ajouter un Parcours </h1>
    </div>

    {{ form_start(form) }}

        {{ form_row(form.coverPicture) }}
    
    {{ form_end(form) }}
    
{% endblock %}