{% extends 'base.html.twig' %}

{% block title %} Ajouter une région {% endblock %}

{% block body %}

    <div class="pageTitle">
        <h1 class="text-center"> Ajouter une région </h1>
    </div>

    {{ form(form) }}
    <!--
    <form method="post" class="addRegion">
        <div class="formfield">
            <label for='name'>Nom de la région : </label>
            <input type='text' id='name' name='name' required autofocus/>
        </div>
        <button type='submit'>OK</button>
    </form>
    -->
    
{% endblock %}