{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        form.addRegion {
            display: table;
        }

        div.formfield {
            display: table-row;
        }

        label, input {
            display: table-cell;
            margin-bottom: 10px;
        }

        label {
            padding-right: 10px;
        }
    </style>
{% endblock %}

{% block title %} Ajouter une région {% endblock %}

{% block body %}
    <h1> Ajouter une région </h1>
    <form method="post" class="addRegion">
        <div class="formfield">
            <label for='name'>Nom de la région : </label>
            <input type='text' id='name' name='name' required autofocus/>
        </div>
        <button type='submit'>OK</button>
    </form>
    
{% endblock %}